streamlit==1.27.0
google-play-scraper==1.2.7
app-store-scraper==0.3.5
spacy
pandas==2.2.3
matplotlib==3.10.0
python-dateutil==2.9.0
python-Levenshtein>=0.21.1
openai>=1.0.0
python-dotenv>=1.0.0
transformers
torch
textblob
fuzzywuzzy
requests
pillow>=7.1.0,<10  # Используйте более новую версию Pillow
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.7.0/ru_core_news_sm-3.7.0.tar.gz
