streamlit==1.32.0
google-play-scraper==1.2.7
app-store-scraper==0.4.1
spacy
pandas==2.2.3
python-Levenshtein>=0.21.1
openai>=1.0.0
python-dotenv>=1.0.0
transformers==4.40.1
torch==2.2.2
textblob==0.17.1
fuzzywuzzy==0.18.0
requests==2.31.0
pillow>=10.0.0
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.7.0/ru_core_news_sm-3.7.0.tar.gz
